/*shortcut*/
body{
    font-size: 12px;
    color: #666;
    background: #fff;
    margin:0;
    padding: 0;
    display: block;
    font-family: Vrial,Verdana;
}
#shortcut{
    width: 100%;
    height: 30px;
    display: block;
    background: #F1F1F1;
    margin:0 auto;
    line-height: 30px;
}
#shortcut .w{
    width: 1210px;
    height: 30px;

}
#shortcut .w .fl{
    float: left;
    list-style: none;
    margin-left: 355px;
    margin-top: 0;
}
#shortcut .w .fl li{
    
    display: block;
    position: relative;
}


#shortcut .w .fl .place{
    width: 300px;
    height: 245px;
    background: white;
    border: 1px solid #F1F1F1;
    text-decoration: none;
    cursor: auto;
    position: absolute;
    z-index: 9;
    display: block;
    padding-top:15px;
}
#shortcut .w .fl .place .item{
display: block;
float: left;

text-decoration: none;

line-height: 24px;
height: 24px;

width: 60px;
padding: 2px 0;
}

#shortcut .w .fl .place a{
    text-decoration: none;
    color: #666;
    display: block;
    padding: 0 8px;
    text-align: center;
}
#shortcut .w .fl .place a:hover{
background-color :#F1F1F1;
color: #e4393c;



}
#shortcut .w .fr{
    float: right;
    list-style: none;
}



/*选项部分*/
.topmenu{
display: block;
width: 220px;
border: 2px solid #e4393c;
margin: 0;
padding: 0;
}
.toptitle{
height: 40px;
line-height: 40px;
text-align: left;
font-size: 11px;
background-color: #e4393c;
font-weight: bold;
color: white;
padding-left: 20px;
}
.topmenu li{
height: 30px;
line-height: 30px;
font-size: 11px;
list-style-type: none;
text-align: left;
padding-left: 8px;
z-index: 3;
background-image: url(image/1.png);
background-repeat: no-repeat;
background-position: right;
}

.topmenu li a {
text-decoration: none;
color: #313131;
background-image: none;
}
.topmenu li a:hover{
text-decoration: underline;
font-weight: bold;
color: #e4393c;
}
.topmenu .lihover/*鼠标移动上的时间*/
{
border: 1px solid #ddd;
border-right: 0;
box-shadow: 0 0 8px #ddd;
background-image: none;
height: 30px;
}
.topmenu .lihover .submenu{
display: block;

}
.topmenu .lihover span/*白色小块*/
{
background-color: white;
display: inline-block;
z-index: 20;
width: 20px;
height: 30px;
float: right;
position: relative;
}

.leftdiv dl{
display: block;
overflow: hidden;
border-bottom: 1px solid #EEE;
padding-bottom: 6px;
}
.submenu{
display: block;
width: 715px;
left: 220px;
position: absolute;
top: 40px;
border: 1px solid #ddd;
z-index: 4;
background-color: white;
box-shadow: 0 0 8px #ddd;
}
.leftdiv {

float: left;
width: 490px;
margin: 5px;

}
.rightdiv {            
float: right;
width: 200px;
margin: 5px;
}

.leftdiv dl dt{
float: left;
text-align: right;
display: block;
width: 60px;
height: 22px;
line-height: 22px;
padding-right: 6px;
}
.leftdiv dl dt a{
color: #e4393c;
font-weight: bold;
text-decoration: underline;
font-size: 10px;
}
.leftdiv dl dd{
display: block; 
overflow: hidden;
}
.leftdiv dl dd a{
display: block;
float: left;
border-left: 1px solid #ccc;
color: #737373;
font-size: 9px;
padding: 0 8px;
height: 14px;
line-height: 14px;
margin: 4px 0;
}

.rightdiv dl dd{
margin: 3px 0;

}
.rightdiv dl dt{
color: #e4393c;
font-weight: bold;
font-size: 10pt;
}
.rightdiv dl dd a {
font-size: 9pt;
line-height: 22px;
color: #737373;
}
.rightdiv dl dd a:hover{
color: #737373;
font-weight: normal;
}
