/*标签初始化*/
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
    body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
    h1, h2, h3, h4, h5, h6{ font-size:100%; }
    address, cite, dfn, em, var { font-style:normal; }
    code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
    small{ font-size:12px; }
    ul, ol { list-style:none; }
    a { text-decoration:none; color: #fff;}
    a:hover { text-decoration:none; }
    sup { vertical-align:text-top; }
    sub{ vertical-align:text-bottom; }
    legend { color:#000; }
    fieldset, img { border:0; }
    button, input, select, textarea { font-size:100%; }
    table { border-collapse:collapse; border-spacing:0; }
    *{font-size: 14px;font-family: "雅黑宋体", "微软雅黑", "新宋体", "宋体";}
     .cf{
    zoom:1;
}
.cf:after{/*清除浮动*/
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: '';
}
body{
    background: black;
}
.container{
    position: relative;
    
    
}
.navigation{
    width: 100%;
    height: 40px;
    background: #333;
}
.navigation_first{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
.navigation_first li{
    float: left;
    display: block;
    position: relative;
    
}
.collection {
    color: yellow;
}
.navigation_first li a{
    display: block;
    padding: 0 20px;
    border-right: 1px solid #444;
}


.navigation_first li a:hover{
    background: #4698ca;
}
.sub_making, .zone_first ul{
    position: absolute;
    opacity: 1;
    background: #333;
    width: 177px;
    right: 0;
}
.sub_making li{
    
    float: none;
    border-right: none;
}
.sub_making{
    
    display: none;
}

.sub_making li a{
    border-bottom: 1px solid #242424;
    border-top: 1px solid #4a4a4a;
}
.zone_first ul{
   left: 177px;
    display: none;
    top: 0;
    
    
}
