/*标签初始化*/
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
    body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
    h1, h2, h3, h4, h5, h6{ font-size:100%; }
    address, cite, dfn, em, var { font-style:normal; }
    code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
    small{ font-size:12px; }
    ul, ol { list-style:none; }
    a { text-decoration:none; color: #000;}
    a:hover { text-decoration:none; }
    sup { vertical-align:text-top; }
    sub{ vertical-align:text-bottom; }
    legend { color:#000; }
    fieldset, img { border:0; }
    button, input, select, textarea { font-size:100%; }
    table { border-collapse:collapse; border-spacing:0; }
    *{font-size: 14px;font-family: arial;}
.cf{
    zoom:1;
}
.cf:after{/*清除浮动*/
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: '';
}
.container{
    margin: 50px auto 0;
    position: relative;
}
.big-img img{
    display: block;
    margin: 0 auto;
}
.container .small{
    position: absolute;
    top: 270px;
    left: 490px;
    background-color: #333;
    padding:10px 8px;
}
.small ul{
    display: -webkit-inline-flex;
    padding: 0 10px;
}
.small ul li{
    margin-right: 15px;
    border: 3px solid #000;
}
.small ul li:last-child{
    margin-right: 0;
}
.small a{
    display: block;
    background: url(images/arrow-l.png) no-repeat;
    top: 12px;
    width: 13px;
    height: 23px;
    cursor: pointer;
    display: inline-block;
}
.small a:last-child{
    background: url(images/arrow-r.png) no-repeat;
}