 /*标签初始化*/
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
    body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
    h1, h2, h3, h4, h5, h6{ font-size:100%; }
    address, cite, dfn, em, var { font-style:normal; }
    code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
    small{ font-size:12px; }
    ul, ol { list-style:none; }
    a { text-decoration:none; color: #fff;}
    a:hover { text-decoration:none; }
    sup { vertical-align:text-top; }
    sub{ vertical-align:text-bottom; }
    legend { color:#000; }
    fieldset, img { border:0; }
    button, input, select, textarea { font-size:100%; }
    table { border-collapse:collapse; border-spacing:0; }
    *{font-size: 14px;font-family: arial;color:#666;}
/*导航栏*/
.container{
    margin: 50px auto 0;
    width: 500px;
    height: 100%;
    
}
.right{
    float: left;
    width: 30px;
    
    margin-top:30px;
    
}

.right li{
    
    border: 1px solid #eee;
    padding: 5px 3px;
}
.right-cur{
    margin-right: -1px;
    padding-left: 12px;
    border-radius: 8px 0 0 8px;
    margin-left: -5px;
}
li.right-cur a{
    color: #fff;
}
.right0.right-cur{
     background: #5a4e4d;
     margin-left: -5px;
}
.right-two.right-cur{
    background: #3a4e8a;
}
.right-three.right-cur{
    background: #c17987;
}
.right-one a{
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: gray;
}
.cf{
    zoom:1;
}
.cf:after{/*清除浮动*/
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: '';
}
/*商品分类*/
.left{
    float: left;
   
    border: 1px solid #eee;
   
    width: 450px;
}
.left-in h2{
    display: block;
    background-color: #736867;
    color: #ccc;
    padding-left: 10px;
    line-height: 30px;
}
.left-in ul li{
    background-color: #877e7d;
    padding: 6px 0 6px 10px;
    border-bottom: 1px solid #666;
}
.left-in ul li em{
    float: right;
    margin-right: 20px;
    font-style: normal;
    color: #666;
}
.left-index{
    display: inline-block;
    padding-right: 5px;
}
.left-all{
    line-height: 25px;
    display: inline-block;
}
.left-app, .left-city, .left-salon{
    display: none;
}
.left-salon ul li{
    background: #e68786;
}
.left-city ul li{
    background: #688ac8;
}
.left-city h2{
    background: #5568a3;
}
.left-salon h2{
    background: #bd7382;
}
.left-app  li:hover{
    background: #736867;
}
.left-city  li:hover{
    background: #5568a3;
}
.left-salon li:hover{
    background: #bd7382;
}