/*标签初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none;}
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
*{font-size: 14px;font-family: arial;color:#000;}
/*头部*/
.container{
    margin: 50px auto 0;
    width: 950px;
    overflow: hidden;
}
.cf{
    zoom:1;
}
.cf:after{/*清除浮动*/
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: '';
}
.header{
    border: 1px solid #ddd; 
    height: 50px;
}
.header-left{
    float: left;
    height: 50px;
}
.header-left ul{
    display: block;
    height: 50px;
    line-height: 50px;
}
.header-left li{
    display: inline-block;
    
    font-size: 18px;
    
}
.header-left li a{
    padding: 8px 30px;
    letter-spacing: 5px;
    font-size: 18px;
    border: 1px solid #6b8999; 
    background: #d3e7f0;
}
.header-right{
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.header-right button{
    margin: 15px;
    font-size: 14px;
}
/*body部分*/
.body{
    display: flex;
    border: 1px solid #ddd; 
    padding: 10px;
    border-top: 0;
}

.img{
    padding: 6px;
    border: 1px solid #ddd; 
}
.img a{
    display: block;
}
.middle{
    padding:6px;
    margin-left: 8px;
    width: 275px;
}
.middle-up{
    border-bottom:1px dotted #ddd;
    padding-bottom: 5px;
}
.middle-up h3{
    float: left;
}
.middle-up span{
    float: right;
    display: block;
}
.middle-bottom{
    padding-top: 6px;
}
.middle-bottom p{
    font-size: 12px;
    line-height: 24px;
    display: block;
}
.middle-bottom p span{
    float: right;
    font-size:10px;
}