/*标签初始化*/
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
    body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
    h1, h2, h3, h4, h5, h6{ font-size:100%; }
    address, cite, dfn, em, var { font-style:normal; }
    code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
    small{ font-size:12px; }
    ul, ol { list-style:none; }
    a { text-decoration:none; color: #fff;}
    a:hover { text-decoration:none; }
    sup { vertical-align:text-top; }
    sub{ vertical-align:text-bottom; }
    legend { color:#000; }
    fieldset, img { border:0; }
    button, input, select, textarea { font-size:100%; }
    table { border-collapse:collapse; border-spacing:0; }
    *{font-size: 16px;font-family: arial;}
    .container{
        width: 800px;
        height: 400px;
        margin: 50px auto 0;
        position: relative;
        text-align: center;
        line-height: 50px;
    }
    h1{
        font-size: 28px;
    }
    .container input{
        width: 50px;
        text-align: center;
        margin: 0 10px;
    }
     .container button{
         width: 70px;
         height: 40px;
         color: red;
         font-weight: bold;
     }
     .remain{
         display: block;
         border-bottom: 1px dashed #ddd;
     }
     .bottom{
         font-size: 28px;
     }
     .bottom span{
         color: red;
         font-size: 28px;
     }
      .remain span{
          font-weight: bold;
      }