/*标签初始化*/
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
    body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
    h1, h2, h3, h4, h5, h6{ font-size:100%; }
    address, cite, dfn, em, var { font-style:normal; }
    code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
    small{ font-size:12px; }
    ul, ol { list-style:none; }
    a { text-decoration:none; color: #000;display: block}
    a:hover { text-decoration:none; }
    sup { vertical-align:text-top; }
    sub{ vertical-align:text-bottom; }
    legend { color:#000; }
    fieldset, img { border:0; }
    button, input, select, textarea { font-size:100%; }
    table { border-collapse:collapse; border-spacing:0; }
    *{font-size: 14px;font-family: arial;color:#666;}
.container{
    margin: 50px auto 0;
    
    width: 1000px;
}
.container ul li{
    display: inline-table;
    margin: 8px;
}
.header{
    padding: 6px 0;
}
.header em{
   
    display: inline-block;
     float: right;
}
.header img{
    margin: 0px 7px 3px 0;
    vertical-align: middle;
}
.body img{
    border: 4px solid #c6e7f6;
    border-radius: 4px;
    box-shadow: 0 1px 11px #ccc;
}
.intro{
    border: 1px solid #c6e7f6;
    border-radius: 4px;
    box-shadow: 0 1px 11px #ccc;
    padding: 5px;
}
.edit{
    background: url(images/edit.png) no-repeat 0 0;
}
.del{
    background: url(images/edit.png) no-repeat 0 -60px;
}
.header em{
    display: none;
}
em i{
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.cf{
    zoom:1;
}
.cf:after{/*清除浮动*/
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: '';
}
ul li a:hover{
    padding: 5px;
    border: 1px solid #b3ddf5;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #a9a9a9;
}
ul li a:hover img{
    box-shadow: none;
}
ul li a:hover em{
    display: block;
}
