@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	}
.container{
	margin:20px auto;
	width:500px;
	text-align:center;
	}
input{
	margin:0 5px 0 10px;
	width:30px;
	height:20px;
	}
button{
	width:80px;
	height:50px;
	color:#F30;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
	text-shadow:1px 1px #fff;
	}
.container_times{
	border-top:1px dashed #ccc;
	font-size:30px;
	font-weight:bold;
	color:#666;
	}
.container_times span{
	font-size:40px;
	color:#ba070e;
	}
